.color01{
    color:#884A39;
}
.color02{
    color:#C38154;
}
.color03{
     color:#FFC26F
}

.color04{
    color:#F9E0BB
}
.bg01{
    background:#884A39 !important;
    color:#fff;
}
.bg02{
    background:#C38154 !important;
    color:#fff;
}
.bg03{
     background:#FFC26F
}

.bg04{
    background:#F9E0BB
}
